/* o-o-o-o-o EXAMPLE SENSIBLE SETTINGS CONFIGURATION FILE o-o-o-o-o
 * Set your environment-specific settings here,
 * then rename the file to 'secrets.h'.
*/

// ###  Wifi Settings ###
#define WIFI_SSID "ssid"
#define WIFI_PSWD "password"